<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <caravel_graphql>
            <general>
                <complexity>1500</complexity>
                <depth>10</depth>
            </general>
        </caravel_graphql>
    </default>
</config>
