<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Caravel\GraphQlConfig\Api\Config\GraphQlConfigInterface" type="Caravel\GraphQlConfig\Config\GraphQlConfig"/>

    <type name="Magento\Framework\GraphQl\Query\QueryComplexityLimiter">
        <plugin name="change_complexity_limiter" type="Caravel\GraphQlConfig\Plugin\QueryComplexityLimiterPlugin" sortOrder="1000"/>
    </type>
</config>
